<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Forgot password.</title>
  <style type="text/css">
      .flash-danger {
          color: maroon;
      }
      .flash-success {
          color: #6d6;
      }
  </style>
</head>

<body>
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<p>&nbsp;</p>

<form novalidate method="post" action="">
    
  {{ form_label(form.email)}} {{ form_widget(form.email) }} {{ form_errors(form.email)}}<br /><br />
  
  {{ form_widget(form._token)}}
  
  <button type="submit">Request password reset</button>
  </form>
  
</body>
</html>
