<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Isobar task Password reset form</title>
  <style type="text/css">
      .flash-danger {
          color: maroon;
      }
      .flash-success {
          color: #6d6;
      }
  </style>
</head>

<body>
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<p>&nbsp;</p>

<form novalidate method="post" action="">
    
  {{ form_label(form.newPassword)}} {{ form_widget(form.newPassword) }} <br /><br />
  {{ form_label(form.confirmPassword)}} {{ form_widget(form.confirmPassword) }} {{ form_errors(form.confirmPassword)}}<br /><br />
  
  {{ form_widget(form._token)}}
  <p>{{ form_errors(form.newPassword)}}</p>
  <button type="submit">Reset password</button>
  </form>
</body>
</html>
